<ion-view cache-view="false">
    <ion-content class="padding has-header has-footer" scroll="false">
        <h3 class="text-center">Bientôt :D</h3>
        <div class="container-fluid">
            <div class="col-xs-4 col-xs-offset-4" id="profilePic">
                <img src="../img/logo.png" ng-click="goHome()">
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/cercleCtrl.js"></script>
    </ion-content>
</ion-view>