<div class="bar bar-subheader" style="height:auto;border:hidden;">
    <a href="javascript:history.back()" style="float:left; display:inline-block;" class="return"><i class="fa fa-reply"></i></a>
</div>
<ion-view ng-click="scrollDown()">
    <ion-content class="has-header has-subheader has-footer">
        <div ng-repeat="m in messages.message">
            <div>
                <div class="bubble you" ng-if="m.msg_recepteurid == currentUser.id">
                    {{ m.message }}
                </div>
            </div>
            <div style="clear:both"></div>
            <div>
                <div class="bubble me" ng-if="m.msg_emetteurid == currentUser.id">
                    {{ m.message }}
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </ion-content>
</ion-view>
<ion-footer-bar class="bar-subfooter">
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <input type="search" placeholder="Tapez un message" ng-model="mmessage">
        </label>
        <button class="button" type="submit" ng-click="addMessage()">
            Envoyer
        </button>
    </div>
</ion-footer-bar>