<ion-view cache-view="false">
    <ion-content class="padding">
        <div class="item item-divider" align="left">Historique ... </div>
        <div class="list" ng-repeat="m in messagess.message">
            <a class="item item-avatar" style="border:hidden;" ng-repeat="p in personnes.personne | filter:{id:m.msg_emetteurid}" >
                <img src="../img/who-am-i.jpg" ng-click="goDiscussion()">
                <p>{{p.surnom}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>