<ion-view cache-view="false">
    <ion-content class="padding has-header has-footer">
        <div class="item item-divider" align="left">Historique ... </div>
        <div ng-repeat="p in personnes.personne">
            <div class="list"  style="margin:auto;" ng-repeat="m in messagess.message | filter:{msg_recepteurid:currentUser.id}">
                <a class="item item-avatar" style="border:hidden;" >
                    <img ng-src="{{p.img}}" ng-click="goInvitDetails(p.id)">
                    <p ng-click="goHistoriqueDiscussion()">{{p.surnom}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
