<ion-view>
    <ion-content class="padding" scroll="false" >
        <div class="container-fluid">
            <h3 class="text-center">Avec qui voulez-vous partir ?</h3>
            <div class="col-xs-12 matchs">
                <div id="profile1" class="imgCercle">
                    <img src="img/pic2.png">
                </div>
                <div id="profile2" class="imgCercle">
                    <img src="img/match.jpg">
                </div>
            </div>
        </div>
        <div class="container-fluid" style="margin-top:50px;">
            <h3 class="text-center">Publicité ... :D</h3>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/cercleCtrl.js"></script>
</ion-content>
</ion-view>