<ion-view>
    <ion-content class="padding">
        <div class="container-fluid">
            <h3 class="text-center">Avec qui voulez-vous partir ?</h3>
            <div class="col-xs-12 matchs">
                <div id="profile1" class="imgCercle">
                    <img src="img/profile.jpg">
                </div>
                <div id="profile2" class="imgCercle">
                    <img src="img/profile.jpg">
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="js/cercleCtrl.js"></script>
    </ion-content>
</ion-view>