<ion-view>
    <ion-content padding="true">
        {{GetUserId}}
        <!--<div class="card" ng-repeat="i in invitations.invitation | filter:{envoyer:'1'} | filter:{inv_recepteurid:currentUser.id} | filter:{inv_emetteurid:GetUserId.userId}">
            <div class="item item-text-wrap">
                Voulez vous parler avec ...{{i.id}}
            </div>
        </div>
        <div class="card" ng-repeat="i in invitations.invitation | filter:{envoyer:'1'} | filter:{inv_emetteurid:currentUser.id} | filter:{inv_recepteurid:GetUserId.userId}">
            <div class="item item-text-wrap">
                Voulez vous parler avec ...{{i.id}}
            </div>
        </div>-->
    </ion-content>
</ion-view>