<ion-view cache-view="false">
    <ion-content class="padding">
        <div class="item item-divider" align="left">Je veux quitter le site avec ... </div>
        <div class="list" ng-repeat="i in invitations.invitation | filter:{accepter:'1'} | filter:{inv_recepteurid:currentUser.id}">
            <div class="item item-button-right" ng-repeat="p in personnes.personne | filter:{id:i.inv_emetteurid}" ng-click="getUserInvID(p.id)">
                <a class="item item-avatar" style="border:hidden;">
                    <img src="img/who-am-i.jpg" ng-click="goInvitDetails(p.id)">
                    <p ng-click="goDiscussion()">{{p.surnom}}</p>
                </a>
                <button class="button" ng-click="showConfirm()">
                    <img src="img/LOGO_test1.png" width="10" height="10" />
                </button>
            </div>
        </div>
            <!--<div>
                <a class="item item-avatar" style="border:hidden;">
                    <img src="img/who-am-i.jpg" ng-click="goDiscussion()">
                    <p>Voulez vous ... ?</p>
                </a>
            </div>
            <div>
                <a class="item item-avatar" style="border:hidden;">
                    <img src="img/who-am-i.jpg" ng-click="goDiscussion()">
                    <p>Voulez vous ... ?</p>
                </a>
            </div>
            <div>
                <a class="item item-avatar" style="border:hidden;">
                    <img src="img/who-am-i.jpg" ng-click="goDiscussion()">
                    <p>Voulez vous ... ?</p>
                </a>
            </div>
            <div>
                <a class="item item-avatar" style="border:hidden;">
                    <img src="img/who-am-i.jpg" ng-click="goDiscussion()">
                    <p>Voulez vous ... ?</p>
                </a>
            </div>-->
            <div class="item item-divider" align="left">Mes invitations ... </div>
            <div class="list" ng-repeat="i in invitations.invitation | filter:{envoyer:currentUser.id} | filter:{inv_recepteurid:currentUser.id}" ng-click="getInvId(i.id)">
                <div class="item" ng-repeat="p in personnes.personne | filter:{id:i.inv_emetteurid}" ng-click="getUserInvID(p.id)">
                    <a class="item item-avatar" style="border:hidden;" ng-click="showConfirmInvi()">
                        <img src="img/who-am-i.jpg" width="10" height="12">
                        <h2>{{p.surnom}}</h2>
                        <p>Voulez vous ...</p>
                    </a>
                </div>
            </div>
    </ion-content>
</ion-view>