<ion-view cache-view="false">
    <ion-content class="padding has-header has-footer">
        <div class="item item-divider" align="left">Je veux quitter le site avec ... </div>
        <div class="list" style="margin:auto;" ng-repeat="i in invitations.invitation | filter:{accepter:'1'} | filter:{inv_recepteurid:currentUser.id}" ng-click="getInvId(i.id)">
            <div class="row" style="margin-top:-10px;margin-bottom:-20px" ng-repeat="p in personnes.personne | filter:{id:i.inv_emetteurid}" ng-click="getUserInvID(p.id)">
                <div class="col col-75" style="margin:auto;" >
                    <a class="item item-avatar" style="border:none;margin:auto;">
                        <img ng-src="{{p.img}}" ng-click="goInvitDetails(p.id)">
                        <h2 ng-click="verifAmis()" style="margin-top:-7px;">{{p.surnom}}</h2>
                        <p ng-click="verifAmis()">Discussion ...</p>
                    </a>
                </div>
                <div class="col col-bottom"  style="margin:auto;">
                    <img src="img/LOGO_test1.png" ng-click="showConfirm()" width="30" height="30" style="margin-top:-10px;" />
                    <i class="icon ion-android-delete" ng-click="showSuppAmis(p.id)" style="font-size: 30px;color:violet;margin-left:3px;"></i>	
                </div>
            </div>
        </div>
        <div class="item item-divider" align="left">Mes invitations ... </div>
        <div class="list" style="margin:auto;" ng-repeat="i in invitations.invitation | filter:{envoyer:currentUser.id} | filter:{inv_recepteurid:currentUser.id}" ng-click="getInvId(i.id)">
            <div style="border:hidden;" ng-repeat="p in personnes.personne | filter:{id:i.inv_emetteurid}" ng-click="getUserInvID(p.id)">
                <a class="item item-avatar" style="border:hidden;">
                    <img ng-src="{{p.img}}" width="10" height="12" ng-click="goInvitDetails(p.id)">
                    <h2 style="margin-top:-8px" ng-click="showConfirmInvi()">{{p.surnom}}</h2>
                    <p ng-model="invmessage" ng-click="showConfirmInvi()">{{i.message}}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>