<ion-view cache-view="false">
    <ion-content class="padding">
        <div class="list">
            <div align="center">
                <div class="input-label">
                    Age
                </div>
                <div class="item range">
                    <i>min</i>
                    <input type="range" name="age" min="ageMin" max="ageMax">
                    <i>max</i>
                </div>
                </div>
            <div align="center">
                <div class="input-label">
                    Distance
                </div>
                <div class="item range">
                    <i>km</i>
                    <input type="range"  min="0" max="100" >
                    <i>km</i>
                </div>
            </div>
            <!--<label class="item item-input item-select">
                <div class="input-label">
                    Sexe
                </div>
                <select>
                    <option ng-repeat="typ in typePerso" value="{{typ.Name}}"
                            ng-selected="{{ typ.Selected == true }}">
                        {{typ.Name}}
                    </option>
                </select>
            </label>-->
            <label class="item item-input item-select">
                <div class="input-label">
                    Sexe
                </div>
                <select>
                    <option ng-repeat="typ in typePerso" value="{{typ.Name}}"
                            ng-selected="{{ typ.Selected == true }}">
                        {{typ.Name}}
                    </option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type de profil
                </div>
                <select >
                    <option ng-repeat="typrof in typeProfil" value="{{typrof.Name}}"
                            ng-selected="{{ typrof.Selected == true }}">
                        {{typrof.Name}}
                    </option>
                </select>
            </label>
            </div>
        <button class="button button-block button-positive" ng-click="editRecherche()">
            Mettre à jours
        </button>
    </ion-content>
</ion-view>