<ion-view cache-view="false" scroll-sista="header-tabs">
    <ion-content class="padding">
        <div ng-click="goRecherchePerso()" >
            <li class="item item-toggle">
                Ma recherche
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </li>
        </div>
        <div class="grid" ng-click="goInvitDetails(p.id)" ng-repeat="p in personnes | filter:search">
            <div class="card" ng-if="p.id !='1'" >
                <div class="profileWrapper">
                    <div class="picHolder">
                        <div class="close-btn" ng-init="getImgUrl()"><a ng-hide="">X</a></div>
                        <img src="../img/pic5.jpg" >
                            {{p.surnom}}, {{p.age}}
                        </div>
                    </div>
                    <div class="options spaceIt">
                        <div class="totem"><img src="img/icon.png"></div>
                        <div class="messageBtnHolder">
                            <a class="msgBtn"><i class="fa fa-envelope" ></i></a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
