<ion-view cache-view="false" overflow-scroll="false">
    <ion-content class="has-header has-footer">
        <div class="row">
            <div class="col col-75" style="margin-left:10px;" ng-click="goRecherchePerso()">Ma recherche</div>
            <div class="col" style="margin-left:10px;">
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="row responsive-sm">
            <div class="col" style="margin-left:10px;"><input ng-model="search.surnom" placeholder="recherche" /></div>
        </div>
        <div ng-repeat="p in personnes.personne | filter:{id:'!'+currentUser.id} " >
            <div class="card" >
                <div class="profileWrapper">
                    <div class="picHolder">
                        <div class="close-btn"><a ng-if="isUser" ng-click="deleteProfilRech(p.id,i.id)">X</a></div>
                        <img ng-src="{{p.img}}" ng-click="goInvitDetails(p.id)">
                        {{p.surnom}}, {{p.age}}
                    </div>
                </div>
                <div class="options spaceIt">
                    <div class="totem" ng-click="goInvitDetails(p.id)"><img src="img/icon.png"></div>
                    <div class="messageBtnHolder" ng-controller="ProfCtrl">
                        <a class="msgBtn" ng-click="sendInviRech()"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>