<ion-header-bar>
    <div class="bar bar-subheader">
        <div class="row responsive-sm">
            <div class="col" style="margin-left:10px;"><input ng-model="search" placeholder="recherche" /></div>
        </div>
    </div>
</ion-header-bar>
<ion-view cache-view="false" overflow-scroll="false">
    <ion-content class="has-header has-footer has-subheader">
        <div class="row">
            <div class="col col-75" style="margin-left:10px;" ng-click="goRecherchePerso()">Ma recherche</div>
            <div class="col" style="margin-left:10px;margin-top:-7px;">
                <label class="toggle toggle-positive">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <p hidden ng-repeat="invi in invitt">{{invi.inv_emetteurid}} * {{invi.inv_recepteurid}}</p>
        <div>
            <div class="card" ng-repeat="p in personnes.personne | filter:search |  filter:{id:'!'+currentUser.id}}">
                <div class="profileWrapper">
                    <div class="picHolder">
                        <div class="close-btn"><a ng-if="isUser" ng-click="showList()">X</a></div>
                        <img ng-src="{{p.img}}" ng-click="goInvitDetails(p.id)">
                        {{p.surnom}}, {{p.age}}
                    </div>
                </div>
                <div class="options spaceIt">
                    <div class="totem" ng-click="goInvitDetails(p.id)"><img src="img/icon.png"></div>
                    <div class="messageBtnHolder" ng-controller="ProfCtrl">
                        <a class="msgBtn" ng-click="sendInviRech()"><i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>