<ion-view cache-view="false">
    <ion-content class="padding">
        <div class="list">
            <div align="center">
                <div class="input-label">
                    Age
                </div>
                <div class="item range">
                    <i>min</i>
                    <input type="range" name="age" min="18" max="80">
                    <i>max</i>
                </div>
                </div>
            <div align="center">
                <div class="input-label">
                    Distance
                </div>
                <div class="item range">
                    <i>km</i>
                    <input type="range" value="{{recherches.distance}}"  min="0" max="100">
                    <i>km</i>
                </div>
            </div>
            <label class="item item-input item-select">
                <div class="input-label">
                    Sexe
                </div>
                <select ng-model="sexe">
                    <option selected>Femme</option>
                    <option>Homme</option>
                    <option>Homme et Femme</option>
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    Type de profil
                </div>
                <select>
                    <option selected>FFFF</option>
                    <option>GGGG</option>
                </select>
            </label>
            </div>
    </ion-content>
</ion-view>